header,
nav {
  background-color: #000000;
}

header h1 {
  color: white;
  font-family: Georgia, serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}
nav ul {
  list-style-type: none;
  display: flex;
  padding-left: 2px;
}

nav li {
  margin-right: 20px;
}
nav a {
  text-transform: uppercase;
  color: white;
}
nav {
  padding: 3px;
}
header {
  padding: 5px;
}
head {
  border-style: solid;
}
